/* ส่วนนี้คือ CSS */
/* ใช้สำหรับแต่ง (id class) */
@font-face {
    font-family: 'Kanit';
    src: url('./Kanit/Kanit-Regular.ttf');
}

body {
    font-family: 'Kanit';
    background-color: #FBF3B9;
}

.container {
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    background-color: #B7B1F2;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.header-form {
    width: 140px;
}

.flex {
    display: flex;
}

.form-input {
    margin-bottom: 10px;
}

input.form,
textarea {
    border: 1px solod #ccc;
    width: 100%;
}

.center {
    text-align: center;
}

.button {
    border: 0;
    width: 50%;
    height: 40px;
    background-color: #BFECFF;
}

.message {
    margin-buttom: 10px;
    padding: 10px;
    background-color: lightgray;
    display: none;
}

.message.success {
    background-color: #A1EEBD;
    display: block;
}

.message.danger {
    background-color: #FF76CE;
    display: block;
}

@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }    
    .header {
        font-size: 24px;
    }
    .button {
        width: 100%
    }
}